@import url('../../../css/variables.css');

.table-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 5%, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.table-modal-box {
  background: var(--bg-default);
  width: 600px;
  max-width: 90%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  border-radius: var(--border-radius-sm);
}

/* Header */
.table-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color) ;
  color: var(--primary-700);
  padding: 0.8em;
}

.table-modal-header h2 {
  font-size: 18px;
  margin: 0;
}

.table-modal-close-icon {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-700);
  transition: transform 0.2s ease;
}

.table-modal-close-icon:hover {
  transform: scale(1.2);
}

/* Body */
.table-modal-body {
  padding: 18px 20px;
  flex: 1;
  color: var(--primary-900);
}

.table-modal-alert-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.table-modal-alert-message {
  text-align: center;
  color: var(--text-blue);
}

.table-modal-confirmation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-600);
  font-weight: 500;
}

/* Footer */
.table-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 14px 20px;
  flex-wrap: wrap;
  background: white;
}

.table-modal-close-btn {
  background: var(--primary-700);
  color: var(--bg-default);
  border: none;
  padding: 8px 18px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.table-modal-close-btn:hover {
  background: var(--primary-800);
}

.table-modal-cancel {
  border: 1px solid var(--primary-700);
  background: var(--bg-default);
  color: var(--primary-800);
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 0.5rem;
}

.table-modal-cancel:hover {
  background: var(--primary-50);
  color: var(--primary-700);
}
