
.custom-modal-overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 5%, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 700;
  padding: 20px auto;
}

.custom-modal-box {
  background: var(--bg-default);
  /* min-width: 70vw; */
  max-width: 95vw;
  max-height: 90vh;           
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 16px rgba(0,0,0,0.25);
  overflow: hidden;
  border-radius: var(--border-radius-sm);
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color) ;
  /* color: var(--gray-700); */
  padding: 0.8em;
}

.custom-modal-header h2 {
  font-size: 18px;
  margin: 0;
  color: var(--primary-700); 
}

.custom-modal-close-icon {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--gray-700);
  transition: transform 0.2s ease;
}

.custom-modal-close-icon:hover {
  transform: scale(1.15);
}

.custom-modal-body {
  /* padding: 5px; */
  flex: 1;                    
  overflow-y: auto;         
  overflow-x: hidden;  
  color: var(--primary-900);
}

.alert-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.alert-message {
  text-align: center;
  color: var(--text-blue);
}

.confirmation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-600);
  font-weight: 500;
}

.custom-modal-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px 20px;
  background: var(--bg-default);
  flex-wrap: wrap;
  border-top: 1px solid var(--border-color);
}


.custom-modal-footer::before {
  content: "";
  position: absolute;
  top: -20px;      
  left: 0;
  right: 0;
  height: 20px;   
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bg-default));
  pointer-events: none;
}


.modal-close-btn {
  background: var(--primary-700);
  color: var(--bg-default);
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.modal-close-btn:hover {
  background: var(--primary-800);
}

.cancel {
  border: 1px solid var(--primary-700);
  background: var(--bg-default);
  color: var(--primary-800);
  font-weight: 600;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cancel:hover {
  background: var(--primary-50);
  color: var(--primary-700);
}

@media (max-width: 768px) {
  .custom-modal-overlay {
    padding: 0;
    align-items: flex-start; 
    justify-content: center;
  }

  .custom-modal-box {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }

  .custom-modal-header,
  .custom-modal-footer {
    padding: 10px 16px;
  }

  .custom-modal-body {
    padding: 16px;
    overflow-y: auto;
  }
}
