@font-face {
    font-family: "Noto Sans";
    src: url("/font/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 50% 100%;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url("/font/Noto_Sans/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 50% 100%;
    font-style: italic;
}
