@import url(./variables.css);
@import url('./fonts.css');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
    font-family: "Noto Sans", "Inter", sans-serif;
    background-color: var(--bg-default);
}


button {
  border-radius: var(--border-radius-sm);
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}