@import url(./variables.css);
@import url('./fonts.css');


/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');*/


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
    font-family: "Noto Sans", "Inter", sans-serif;
    background-color: var(--bg-default);
}




/* Global scrollbar for the whole page */
html {
  scrollbar-width: thin;         
  scrollbar-color: #888 #f1f1f1;  
}

html::-webkit-scrollbar {
    height: 8px;
}

html::-webkit-scrollbar-track {
   background: #f1f1f1;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
   background: #c1c1c1;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

