@import url(./variables.css);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
}





/* Hide scrollbars but keep scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
