@import url(./variables.css);
@import url('./fonts.css');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
    font-family: "Noto Sans", "Inter", sans-serif;
    background-color: var(--bg-default);
}


button {
  border-radius: var(--border-radius-sm);
}


/* Global scrollbar for the whole page */
/* 
.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow: auto; 
  }
   */

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px;  /* Reduced width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

/* Style the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
}