@import url(./variables.css);

@font-face {
  font-family: 'Inter';
  src: url('/font/static/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* variable axis for weight */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/static/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-primary);
}




/* Global scrollbar for the whole page */
html {
  scrollbar-width: thin;         
  scrollbar-color: #888 #f1f1f1;  
}

html::-webkit-scrollbar {
    height: 8px;
}

html::-webkit-scrollbar-track {
   background: #f1f1f1;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
   background: #c1c1c1;
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

