@import url(./variables.css);

:root {
    --sidebar-width: 48p;
}

.body-wrapper {
    display: grid;
    grid-template-areas:
        "header header "
        "aside main "
        "footer footer"  ;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 48px 1fr 36px;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

header {
    grid-area: header;
    background-color: var(--primary-700); 
    display: flex;  
}

.mic-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 48px;
    min-height: 48px;
    max-width: 240px;
    flex-shrink: 0;
}



.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1;
    margin:0 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}
.logo > h1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.logo > h2 {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 3px;
    background-color: var(--primary-50);
    color: var(--text-blue);
    font-weight: 700;
    font-size: 9px;
    line-height: 14px;
}

.icon-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}



.icon-search select {
    appearance: none;      
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: var(--primary-700); 
    color: white;
    font-size: 14px;
    padding: 6px 30px 6px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;

    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.66663 5.24999L6.99996 2.91666L9.33329 5.24999M9.33329 8.74999L6.99996 11.0833L4.66663 8.74999' stroke='%23868E96' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 14px;
}

.icon-search select:focus {
    outline: none;
    box-shadow: none;
}

.icon-search select option {
  color: white;
}

.avatar-dropdown {
  position: relative;
  display: inline-block;
}

.avatar-icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: background 0.2s ease;
}

.avatar-icon:hover {
  background: rgba(0, 0, 0, 0.05);
}

.dropdown-menu {
  position: absolute;
  top: 43px;
  right: 0;
  background: white;
  border: 1px solid var(--form-border-default);
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  min-width: 220px;
  z-index: 1000;
  padding:  0;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* When dropdown is active */
.dropdown-menu.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.dropdown-user {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-700);
  text-align: left;
  border-bottom: 1px solid #eee;
}

.dropdown-info {
  padding: 10px 16px;
  font-size: 14px;
  color: #444;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
}

.dropdown-info p {
  margin: 4px 0;
}

.dropdown-item {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 12px 16px;
  font-size: 15px;
  cursor: pointer;
  color: var(--primary-700);
  font-weight: 700;
  text-align: center;
  transition: background 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
  background: var(--primary-700);
  color: white;
  border-radius: 0 0 8px 8px ;
}


aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: var(--primary-700);
    padding: 1rem 0;
    overflow: hidden;
    position: relative; 
    transition: width 0.3s ease;
}

.aside-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: start; 
    gap: 12px;
    padding: 8px 13px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: var(--primary-800);
    color: white;
    text-decoration: none;

}

.sidebar-label {
    display: inline-block;
    font-size: 14px;
    color: white;
}

/* Tooltip */
.sidebar-item[title]:hover::after {
    content: attr(title);
    position: absolute;
    left: 50px;
    /* background-color: var(--primary-700); */
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    pointer-events: none;
    z-index: 100;
}

.close-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 48px;
    position: sticky;
    cursor: pointer;
    transition: background 0.3s;
    gap: 12px;
    padding: 8px 13px;
}



main {
    grid-area: main;
    background-color: var(--primary-50);
    overflow:auto ;
    height: 100%;
    transition: width 0.3s ease;    
}

.page-header {
  background-color: var(--bg-secondary);
  color: var(--primary-700);
  border-bottom: 1px solid var( --border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;   
  height: 3rem;              
  box-sizing: border-box;
  padding: 0 1rem;          
}

.page-header h1 {
    font-size: 18px;
}

footer {
    grid-area:footer;
    background-color: var(--primary-100);      
    color: var(--primary-700);
}

.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;       
    margin-left: 14px; 
}

.footer-wrapper > div {
    display: flex;
    align-items: center;
    gap: 11px;      
    margin-top: 8px;
}

.footer-wrapper > div h2 {
    width: 144px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.responsive-hide {
  display: none;
}

@media (min-width: 720px) {
  .responsive-hide {
    display: flex; 
  }
}
