@import url(./variables.css);

.loading svg polyline {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash var(--speed, 1.4s) linear infinite;
}

@keyframes dash {
  72.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
