@import url(./variables.css);


.server-error, .loader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.loading  {
  display : flex;
  flex-direction: column;
  gap: 0.8rem;
}

.loading svg polyline {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  stroke: #4d6eff33;
}

.loading svg polyline#front {
  stroke: var(--primary-800);
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash var(--speed, 1.4s) linear infinite;
}

@keyframes dash {
  72.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.loader-p {
  font-weight: bold;
}



.table-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 40vh;
}


.loading, .error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  font-size: 1.1rem;
}

.error {
  color: #dc3545;
}

