@import url(./variables.css);

.loginContainer {
  min-height: 100vh;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  color: var(--primary-800);
}

.loginCard {
  background: var(--bg-secondary);
  width: 100%;
  max-width: 26.25rem;
  border-radius: 0.875rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.green {
  color: var(--primary-800);
}

.label {
  display: block;
  margin-bottom: 0.375rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--primary-700);
  font-weight: 500;
}

.formInput {
  width: 100%;
  padding: 0.75rem;
  background: var(--bg-default);
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--primary-700);
  outline: none;
  transition: border 0.2s ease;
}

.formInput:focus {
  border-color: var(--primary-500);
}

.error {
  border-color: #e74c3c !important;
  margin-bottom: 0.175rem;
}

.success {
  border-color: var(--primary-500) !important;
}

.neutral {
  border-color: var(--border-color) !important;
}

.errorMessage {
  height: 1rem;
  font-size: 0.8125rem;
  color: #e74c3c;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.errorMessage.active {
  opacity: 1;
}

.link,
.greenLink {
  font-size: 0.875rem;
  color: var(--primary-600);
  text-decoration: none;
  display: inline-block;
}

.greenLink:hover,
.link:hover {
  text-decoration: underline;
}

.authError {
  margin-top: 0.75rem;
  color: #e74c3c;
  font-size: 0.875rem;
  text-align: center;
}

.button {
  width: 100%;
  background: var(--primary-700);
  border: none;
  padding: 0.75rem;
  border-radius: 0.375rem;
  font-weight: bold;
  color: var(--bg-default);
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background: var(--primary-800);
}

.footerText {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--primary-700);
  font-size: 0.875rem;
}
