
.logs-nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


.btn-primary  {
  background: var(--primary-700);
  border: 1px solid var(--primary-700);
  color: var(--bg-default);
  padding: 8px 18px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
  text-decoration: none;
}

.btn-primary:hover {
  background: var(--bg-primary-200);
  border: 1px solid var(--primary-700);
  color: var(--primary-800);
}

.btn-secondary {
  border: 1px solid var(--primary-900);
  background: var(--bg-default);
  color: var(--primary-800);
  font-weight: 600;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 0.5rem;
  text-decoration: none;
}

.btn-secondary:hover {
  background: var(--primary-800);
  color: var(--bg-default);
}




.view-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-700);
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.view-button:hover {
  background-color: var(--primary-600);
  transform: translateY(-1px);
}

.view-button:active {
  transform: translateY(0);
}
