@import url(./variables.css);

.logs-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}


.btn-primary  {
  background: var(--primary-700);
  border: 1px solid var(--primary-700);
  color: var(--bg-default);
  padding: 5px 18px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
  text-decoration: none;
}

.btn-primary:hover {
  background: var(--bg-secondary);
  border: 1px solid var(--primary-700);
  color: var(--primary-800);
}

.btn-secondary {
  border: 1px solid var(--primary-900);
  background: var(--bg-default);
  color: var(--primary-800);
  font-weight: bold;
  padding: 5px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 0.5rem;
  text-decoration: none;
}

.btn-secondary:hover {
  background: var(--primary-800);
  color: var(--bg-default);
}




.view-button {
  appearance: none;
  background: transparent;
  border: none;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  color: var(--primary-500);
  transition: color 0.2s ease;
  text-decoration: none;
}



.view-button:hover {
  color: var(--primary-600);
  transform: translateY(-1px);

}

.view-button:active {
  transform: translateY(0);
}




/* ----------- Tabs Buttons-------- */
.tab-buttons {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid var(--gray-200)
}


.tab-primary,
.tab-secondary {
  appearance: none;
  background: transparent;
  border: none;
  padding: 15px 4px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  color: var(--text-muted);
  transition: color 0.2s ease;
  text-decoration: none;
}

/* Inactive tab */
.tab-secondary {
  color: var(--gray-500);
}

.tab-secondary:hover {
  color: var(--primary-700);
}

/* Active tab */
.tab-primary {
  color: var(--primary-700);
}

/* Active underline indicator */
.tab-primary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-700);
}

.tab-primary:focus-visible,
.tab-secondary:focus-visible {
  outline: none;
  box-shadow: inset 0 -3px 0 var(--primary-300);
}
