.dashboard-status-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 90vw;
  margin:  auto;
  text-transform: capitalize;
}

.dashboard-status-card {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dashboard-status-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.dashboard-status-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-800);
  margin-bottom: 0.75rem;
}

/* Grid inside card */
.dashboard-status-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Individual item */
.dashboard-status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
  min-width: 80px;
}

.dashboard-status-number {
  font-size: 1.5rem;
  font-weight: 700;
}

.green {
  color: #27ae60;
}

.red {
  color: #e74c3c;
}

.gray {
  color: #7f8c8d;
}

.red-bold {
  color: #e74c3c;
  font-size: 1.6rem;
}

.dashboard-status-label {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  color: #34495e;
  font-weight: 500;
}

.dashboard-status-subtext {
  font-size: 0.85rem;
  color: #95a5a6;
  margin-top: 0.75rem;
  text-align: center;
  text-transform: none;
}

@media (min-width: 768px) {
  .dashboard-status-sidebar {
    flex-direction: row;
    gap: 2rem;
  }

  .dashboard-status-card {
    flex: 1 1 0;
  }
}



.dashboard-system-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 0.5rem;
  padding: 0.2rem 1rem; 
}

.dashboard-status-label {
  font-weight: 600;
}
