:root {
  --bg-default: #ffffff; 
  --bg-secondary: #F5F7F9;

--primary-50:  #F1FAFF;
--primary-100: #E4F5FF;
--primary-200: #C8EAFE;    
--primary-300: #A5DBF7;
--primary-400: #5CC6ED;
--primary-500: #0BA5DE;    
--primary-600: #0885B4;
--primary-700: #004e6b;
--primary-800: #044765;
--primary-900: #233D7D;    


  --text-blue: #228BE6;


  --border-color: #ccc;


  --accent-100: rgba(255, 77, 80, 0.2);


  
  /* --primary-50: #e7f4ff;
  --primary-100: #c1d8f2;
  --primary-200: #9abae4;
  --primary-300: #749bd8;
  --primary-400: #4d79cc;
  --primary-500: #335bb2;
  --primary-600: #27448b;
  --primary-700: #1b3665;
  --primary-800: #0e233f;
  --primary-900: #020f1b; */



  /* --primary-50: #dafffd;
  --primary-100: #aef5ff;
  --primary-200: #81e7fb;
  --primary-300: #51d6f8;
  --primary-400: #24c3f4;
  --primary-500: #0ba3db;
  --primary-600: #008aab;
  --primary-800: #006b7b;
  --primary-700: #00464d;
  --primary-900: #001c1e;  */
}