:root {
  --bg-default: #ffffff; 
  --bg-secondary: #F5F7F9;

  --primary-50: #F7FCFD;
  --primary-100: #E0E9EB;
  --primary-200: #97d9e8;
  --primary-300: #70c9de;
  --primary-400: #4cb9d3;
  --primary-500: #35a0ba;
  --primary-600: #257d9e;
  --primary-700: #144f5c;
  --primary-800: #053640;
  --primary-900: #001419;

  --text-blue: #228BE6;


  --border-color: #ccc;
}
