:root {

  --text-dark: #1e293b;
  --text-light: #64748b;
  --text-blue: #228be6;

  --border-color: #d1d5db;
  --border-radius: 0px;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}
